<h1><%= locals.title %></h1>

<h2><a href="javascript:toggle_rounds();">Rounds</a></h2>
<div id="rounds"></div>

<h2><a href="javascript:toggle_problems();">Problems</a></h2>
<div id="problems"></div>

<h2>Solving</h2>
<div id="solving"></div>

<div style="width:640px" id="progressbar"></div>

<h2>Status</h2>
<div id="status"></div>
